.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    /* Rest of your styling */
  }
  .deleteButton {
    color: #e74c3c;
    
    border: none;
    cursor: pointer;

  }
  
  .viewButton {
    color: #3498db; 
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }