/* Toolbar.module.css */
.toolbar {
  justify-content: start;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
}
  
  .buttonToolbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    color: #333;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s ease;
  }
  
  .buttonToolbar:hover {
    background-color: #e0e0e0;
    width: fit-content;
  }
  
  .buttonToolbar i {
    font-size: 16px;
    color: #333;
  }
  
  /* Toolbar.module.css */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
/* Toolbar.module.css */
.editor-content .public-DraftStyleDefault-block {
  font-size: 16px; /* Default font size */
  font-family: Arial, sans-serif; /* Default font family */
}

.editor-content .public-DraftStyleDefault-fontSize8 {
  font-size: 8px;
}

.editor-content .public-DraftStyleDefault-fontSize12 {
  font-size: 12px;
}

.editor-content .public-DraftStyleDefault-fontSize16 {
  font-size: 16px;
}

.editor-content .public-DraftStyleDefault-fontSize20 {
  font-size: 20px;
}
